@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1em;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(../img/background.gif);
  color: #ffffff;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: cyan;
}

a:hover {
  color: black;
  background-color: cyan;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  height: 100%;
  background-color: black;
  margin: 0 auto;
}

.content {
  padding: 15px;
}

.text {
  margin-top: 15px;
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #00ff00;
}

.project {
  border: 1px solid #00ff00;
  padding: 5px;
  margin-top: 20px;
}

.project-title {
  font-weight: bold;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

.phrase {
  color: red;
  font-style: italic;
}
